/* Estilos gerais do item */
.item {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg-color);
  align-items: center;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 0 0 15px 3px #3dadad;
  gap: 2rem;
}

.itemDetails button {
  font: var(--normal-txt-font);
  padding: 0.6rem;
  border-radius: 15px;
  transition: 0.8s;
  cursor: pointer;
  border: none;
  max-width: 6rem;
  color: #fff;
}

/* Detalhes do hábito */
.itemDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font: var(--normal-txt-font);
}

.itemDetails > span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 0.2rem;
}

/* Botão de status diário do hábito */
.stateBtnDone {
  background-color: var(--action-color);
  opacity: 1;
  box-shadow: 0 0 15px;
}

.stateBtnDone:hover {
  opacity: 0.5;
  box-shadow: 0 0 15px;
  color: #000;
}

.stateBtnPending {
  background-color: var(--action-color);
  box-shadow: 0 0 15px;
  opacity: 0.5;
}

.stateBtnPending:hover {
  opacity: 1;
}

/* Caixa dos botões de ação do item */
.actionBox {
  display: flex;
  gap: 2rem;
}

.actionBox > button {
  padding: 0.6rem;
  border-radius: 15px;
}

/* Botões de ação dos itens */
.delBtn {
  background-color: #d70808;
  opacity: 0.8;
}

.delBtn:hover {
  opacity: 1;
  box-shadow: 0 0 15px;
}

.editBtn {
  background-color: var(--action-color);
  opacity: 0.8;
}

.editBtn:hover {
  opacity: 1;
  box-shadow: 0 0 15px;
}

/* Mudança no título do item */
.itemTitle {
  font: 600 22px sans-serif;
  color: var(--title-color);
}
